@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap');

:root {
    --mobile-breakpoint: 375px;

    --default-font-size: 18px;

    /* NEUTRAL */
    --white: hsl(0, 0%, 100%);
    --pale-blue: hsl(221, 100%, 96%);
    --light-lavender: hsl(241, 100%, 89%);
    --dark-gray-blue: hsl(224, 30%, 27%);
    /* PRIMARY */
    --light-red: hsl(0, 100%, 67%);
    --orangey-yellow: hsl(39, 100%, 56%);
    --green-teal: hsl(166, 100%, 37%);
    --cobalt-blue: hsl(234, 85%, 45%);
    /* GRADIENT */
    --light-slate-blue-bg: hsl(252, 100%, 67%);
    --light-royal-blue-bg: hsl(241, 81%, 54%);
    --violet-blue-bg-circle: hsla(256, 72%, 46%, 1);
    --persian-blue-bg-circle: hsla(241, 72%, 46%, 0);
}

* {
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Hanken Grotesk', sans-serif;
    font-size: var(--default-font-size);
    background-color: var(--white);
    min-height: 100vh;
    min-height: 100svh;
}

.wrapper {
    display: flex;
    background-color: var(--white);
    border-radius: 1rem;
    width: clamp(400px, 78vw, 600px);
    box-shadow: 8px 12px 20px hsla(0, 0%, 0%, .05);
}

.score-box {
    display: flex;
    flex-direction: column;
    gap: 1.4rem;
    align-items: center;
    background: linear-gradient(var(--light-slate-blue-bg), var(--light-royal-blue-bg));
    border-radius: 1rem;
    padding: 1.5rem 2.4rem 2.5rem;
    width: 50%;
}

.score-box__title {
    color: var(--light-lavender);
    font-weight: 700;
}

.number-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--light-lavender);
    font-size: .8rem;
    font-weight: 700;
    gap: .7rem;
    background: linear-gradient(var(--violet-blue-bg-circle), var(--persian-blue-bg-circle));
    border-radius: 100%;
    width: 150px;
    height: 150px;
}

.number-box__result {
    font-size: 4rem;
    color: var(--white);
    font-weight: 800;
}

.score-box__result {
    font-size: 1.5rem;
    color: var(--white);
    font-weight: 700;
}

.score-box__description {
    font-size: 1rem;
    font-weight: 500;
    color: var(--light-lavender);
    text-align: center;
}